<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="LibraryExEntities" connectionString="metadata=res://*/Base.Model1.csdl|res://*/Base.Model1.ssdl|res://*/Base.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVER03;initial catalog=LibraryEx;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="YachtEntities" connectionString="metadata=res://*/Base.yacht.csdl|res://*/Base.yacht.ssdl|res://*/Base.yacht.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=server03;initial catalog=3IS2_Timofeev_pr5;user id=Timofeev_R;password=edu-759;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>